.name {
  margin-top: 50px;
  font-family: 'Marck Script', cursive;
  font-size: 100px;
}

h3 {
  color: red;
  margin-left: px;
}

.total {
  font-style: italic;;
}

.btn {
  margin-left: px;
}

input {
  margin-left: 100px;
}

.imgs {
  width: 500px;
  padding: 50px;
  border-radius: 75%; 
}

body {
  background-color: yellow;
}




